<app-loader *ngIf="loading"></app-loader>

<header class="animate__animated animate__fadeInDown delay-1m">
  <div class="wrap" [ngClass]="{ hide: !success }">
    <a routerLink="/login"> <img src="assets/img/svg/arrow-bck_.svg" /> Back</a>
  </div>
</header>

<main class="main">
  <section class="otp">
    <div class="wrap animate__animated  animate__fadeIn delay-1m" [ngClass]="{ hide: !success }">
      <a class="logo animate__animated  animate__fadeInUp delay-2m" routerLink="/">
        <img src="assets/images/logo/logo.png" class="img-fluid mb-4" style="width: 50%;" alt="logo" />
      </a>
      <h2 class="animate__animated animate__fadeInUp delay-3m">Forgot Password</h2>
      <p class="info_ animate__animated  animate__fadeInUp delay-4m">
        A one time verification code will be sent to your email address
      </p>

      <form [formGroup]="forgotForm" (ngSubmit)="onForgotPassword()">
        <div class="input bordered" [ngClass]="{ error: submitted && f.email.errors }">
          <label>Email address*</label>
          <input type="email" placeholder="Enter your email address" formControlName="email" (focus)="onFocus()" />

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email address is required</div>
            <div *ngIf="f.email.errors.email">Please enter a valid email address</div>
          </div>
        </div>

        <div class="action d-flex align-items-center">
          <button type="submit" class="btn btn-primary_" [disabled]="submitting">Forgot Password</button>
        </div>
      </form>
    </div>

    <div
      style="padding-top: 0px;"
      class="sucess animate__animated  animate__fadeInDown delay-1m"
      [ngClass]="{ hide: success }"
    >
      <img src="assets/images/success.svg" alt="" />
      <h2>OTP Sent Sucessfully</h2>
      <p>Congratulations. Please check your Email or SMS for further instructions.</p>
      <a routerLink="/reset-password"
        >Continue to reset your password <ion-icon src="assets/img/svg/arrow-right.svg"> </ion-icon
      ></a>
    </div>
  </section>
</main>
