<!-- <app-headers></app-headers> -->
<!-- <main class="main">
    <section class="intro">
        <div class="wrap">
            <div class="capd">
                <h1 class="animate__animated  animate__fadeInUp delay-1m">Offering the best <br> digital trading services
                    in one space</h1>
            </div>
            <div class="capd">
                <p class="animate__animated  animate__fadeInUp delay-2m">Redeem Giftcards , Trade Crypto, any where anytime<br>
                    around the world</p>
            </div>
            <div class="d-flex justify-content-between download-links">
                <a class="animate__animated  animate__fadeInUp delay-3m"><img src="assets/img/png/play-store.png"></a>
                <a class="animate__animated  animate__fadeInUp delay-4m"><img src="assets/img/png/apple-store.png"></a>
            </div>
        </div>
    </section>
</main> -->
<!--====== PRELOADER PART START ======-->

<app-loader *ngIf="loading"></app-loader>

<!-- <app-top-info></app-top-info> -->

<div class="home__home">
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== NAVBAR TWO PART START ======-->
    
    <section class="navbar-area">
        <app-top-info></app-top-info>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-10">
                    <nav class="navbar navbar-expand-lg">
    
                        <a class="navbar-brand" href="#">
                            <img class="image_logo" src="assets/images/logo/logo.svg" alt="Logo">
                        </a>
    
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo"
                            aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
    
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto" *ngIf="isMobile && !isLoggedIn">
                                <li class="nav-item active"><a class="page-scrolls" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></li>
                                <li class="nav-item"><a class="page-scrolls" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a></li>
                            </ul>
                            <ul class="navbar-nav m-auto" *ngIf="isMobile && isLoggedIn">
                                <li class="nav-item active"><a class="page-scrolls" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a></li>
                                <li class="nav-item" (click)="logout()"><a class="page-scrolls">Logout</a></li>
                            </ul>
                        </div>
    
                        <div class="navbar-btn d-none d-sm-inline-block">
                            <ul *ngIf="!isLoggedIn">
                                <li><a class="liquid" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
                                <li><a class="solid" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a></li>
                            </ul>
                            <ul *ngIf="isLoggedIn">
                                <li><a class="liquid" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a></li>
                                <li (click)="logout()"><a class="solid">Logout</a></li>
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== NAVBAR TWO PART ENDS ======-->
    
    <!--====== SLIDER PART START ======-->
    
    <section id="home" class="slider_area">
        <div id="carouselThree" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselThree" data-slide-to="0" class="active"></li>
                <li data-target="#carouselThree" data-slide-to="1"></li>
                <li data-target="#carouselThree" data-slide-to="2"></li>
            </ol>
    
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <h1 class="title">Digital Trade Made Easy.</h1>
                                    <p class="text">With a blink, you trade and get paid. Trading at your convenince is our motto, and we deliver this whenever, wherever.</p>
                                    <ul class="slider-btn rounded-buttons">
                                        <li><a class="main-btn rounded-one" [routerLink]="['/login']" routerLinkActive="router-link-active" >GET STARTED</a></li>
                                        <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                    <div class="slider-image-box d-none d-lg-flex align-items-end">
                        <div class="slider-image"> 
                            <img src="assets/images/carousel/slider1.png" alt="Hero" style="margin-top: -30px;">
                        </div> 
                    </div>
                </div> <!-- carousel-item -->
                
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <h1 class="title">Crafted to make you Profit.</h1>
                                    <p class="text">We give the best exchange/sale rates, all at your convenience. Trade with us and get the best deals.</p>
                                    <ul class="slider-btn rounded-buttons">
                                        <li><a class="main-btn rounded-one" [routerLink]="['/login']" routerLinkActive="router-link-active" >GET STARTED</a></li>
                                        <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
                                    </ul>
                                </div> <!-- slider-content -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                    <div class="slider-image-box d-none d-lg-flex align-items-end">
                        <div class="slider-image">
                            <img src="assets/images/carousel/winner.png" alt="Hero">
                        </div> <!-- slider-imgae -->
                    </div> <!-- slider-imgae box -->
                </div> <!-- carousel-item -->
                
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <h1 class="title">Instant Transactions, No Delays.</h1>
                                    <p class="text">Allow us to do the work, while you sit back and relax. And you get your profit within no time at all.</p>
                                    <ul class="slider-btn rounded-buttons">
                                        <li><a class="main-btn rounded-one" [routerLink]="['/login']" routerLinkActive="router-link-active" >GET STARTED</a></li>
                                        <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
                                    </ul>
                                </div> <!-- slider-content -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                    <div class="slider-image-box d-none d-lg-flex align-items-end">
                        <div class="slider-image">
                            <img src="assets/images/carousel/bitcoin_new-.png" alt="Hero"  style="margin-top: -35rem !important;">
                        </div> <!-- slider-imgae -->
                    </div> <!-- slider-imgae box -->
                </div> <!-- carousel-item -->
             
            </div>
    
            <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
    
    <!--====== FEATRES TWO PART START ======-->
    
    <section id="services" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Services We Provide</h3>
                        <p class="text">Stop wasting time, looking for the perfect trading platform, with the best exchange rates, and fastest transaction times, we are here to do all that and more. Your Happiness is guaranteed!</p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a>Trade BTC, Altcoin..</a></h4>
                            <div class="features-icon">
                                <i class="fab fa-bitcoin"></i>
                                <!-- <img class="shape" src="assets/images/template-images/f-shape-1.svg" alt="Shape"> -->
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Trading of all digital currencies are supported. Just indicate what type of coin you want to exchange, the amount, and confirm the amount. After confirmation, and approval, your coin will appear in your wallet.</p>
                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="features-btn">LEARN MORE</a>
                        </div>
                    </div> <!-- single features -->
                </div>
    
                <div class="col-lg-4 col-md-7 col-sm-9" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Redeem Cards</a></h4>
                            <div class="features-icon">
                                <i class="lni lni-credit-cards"></i>
                                <!-- <img class="shape" src="assets/images/template-images/f-shape-1.svg" alt="Shape"> -->
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Redeem your gift cards, within the blink of an eye. Just upload the card, enter and confirm the value of your card, and submit it. After approval, we would give the best rate and credit you immediately.</p>
                            <a class="features-btn" [routerLink]="['/login']" routerLinkActive="router-link-active" >LEARN MORE</a>
                        </div>
                    </div> <!-- single features -->
                </div>
    
                <div class="col-lg-4 col-md-7 col-sm-9" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Mail <br> Transfer</a></h4>
                            <div class="features-icon">
                                <i class="fas fa-money-check-alt"></i>
                                <!-- <img class="shape" src="assets/images/template-images/f-shape-1.svg" alt="Shape"> -->
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Log in and navigate to Pay Bills and People, then select Pay People, and go to Send Money. Enter the recipient's name, email address or mobile phone number, memo, and the amount to send. Hit “Send Money” to complete the transaction.</p>
                            <a class="features-btn" [routerLink]="['/login']" routerLinkActive="router-link-active" >LEARN MORE</a>
                        </div>
                    </div> <!-- single features -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== FEATRES TWO PART ENDS ======-->
    
    <!--====== PORTFOLIO PART START ======-->
    
    <section id="portfolio" class="portfolio-area portfolio-four pb-100" style="background-color: white;">
        <div class="container">
            <div class="row justify-content-center row animate__animated  animate__fadeIn delay-1m">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Buy & Sell Giftcards</h3>
                        <p class="text">Stop wasting time and energy in trading and exchanging. We provide the best of user experience. Our trading platform is simple and easy to use, all designed to work at your comfort.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row mt-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                <div class="col-12 text-center">
                    <img src="assets/images/template-images/giftcards.png" class="img-responsive service-img" alt="">
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PORTFOLIO PART ENDS ======-->

        
    <!--====== PORTFOLIO PART START ======-->
    
    <section id="portfolio" class="portfolio-area portfolio-four" style="background-color: #124990;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 delay-3m" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
                    <div class="center-card">
                        <section class="card_transaction">
                            <div class="wrappers">
                                <div class="card-wrap">
                                    <div class="header-top">
                                        <img src="assets/images/png/calculator.png" class="img-responsive img-cal" alt="calculator" />

                                        <div class="ml-3">
                                            <h4>Rate Calculator</h4>
                                            <p>Get card currency equivalent in naira</p>
                                        </div>
                                    </div>

                                    <div style="margin-top: 40px;">
                                        <form [formGroup]="cardForm" role="form" class="mt-4">
                                            <div class="input bordered">
                                            <label>Select Digital Asset</label>
                                            <select class="select" id="card" name="card" formControlName="card" (change)="selectCard($event)">
                                                <option [ngValue]="null" disabled>Digital Asset</option>
                                                <option *ngFor="let item of allCards" [value]="item | json">{{ item.name }}</option>
                                            </select>
                                            </div>

                                            <div class="input bordered">
                                            <label>Card Type</label>
                                            <select
                                                class="select"
                                                id="card_type"
                                                name="card_type"
                                                formControlName="card_type"
                                                (change)="selectType($event)"
                                            >
                                                <option [ngValue]="null" disabled>Card Type</option>
                                                <option *ngFor="let item of cardTypes" [value]="item">{{ item }}</option>
                                            </select>

                                            <div *ngIf="submitted && f.card_type.errors" class="invalid-feedback">
                                                <div *ngIf="f.card_type.errors.required">Please select the type of card</div>
                                            </div>
                                            </div>

                                            <div class="input bordered" *ngIf="f.card_type.value.length">
                                            <label>Select Country / Currency</label>
                                            <select
                                                class="select"
                                                id="country"
                                                name="country"
                                                formControlName="country"
                                                (change)="selectCountry($event)"
                                            >
                                                <option [ngValue]="null" disabled>Country</option>
                                                <option *ngFor="let item of countries" [value]="item.country"
                                                >{{ item.country }} - {{ item.currency }}</option
                                                >
                                            </select>

                                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                <div *ngIf="f.country.errors.required">Please select the country</div>
                                            </div>
                                            </div>

                                            <div class="input bordered" [ngClass]="{ error: submitted && f.card_value.errors }">
                                            <label>What's the value of the card</label>
                                            <input type="number" placeholder="Card Value" formControlName="card_value" />

                                            <div *ngIf="submitted && f.card_value.errors" class="invalid-feedback">
                                                <div *ngIf="f.card_value.errors.required">Please enter the value for the card</div>
                                            </div>
                                            </div>

                                            <div class="mb-5" *ngIf="!notFound && !disabledMessage">
                                            <p class="text-center text-danger">Rate does not exist for this amount!</p>
                                            </div>

                                            <div class="mb-5" *ngIf="notFound && disabledMessage">
                                            <p class="text-center text-danger">{{ disabledMessage }}</p>
                                            </div>

                                            <div>
                                            <div style="margin-bottom: 3px;">
                                                Rate:
                                                <span style="font-weight: bolder;">{{ computedRate | currency: '₦ ' }}</span>
                                            </div>

                                            <div style="margin-bottom: 3px; font-size: 18px;">
                                                Payout:
                                                <span style="font-weight: bolder;">{{ getAmount() | currency: '₦ ' }}</span>
                                            </div>

                                            <!-- <button type="submit" class="btn btn-primary_" [disabled]="submitting">Confirm & Proceed</button> -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div> <!-- row -->

                <div class="col-md-6 order-1 mb-3 justify-content-center animate__animated  animate__fadeIn delay-2m" style="align-self: center;">
                    <div class="align-items-center">
                        <div class="section-title text-center pb-10" style="vertical-align: middle; color: white;">
                            <h3 class="title" style="color: #fff !important;">Check Out Our Rates</h3>

                            <p class="text" style="color: #fff !important;">
                                We offer you the very best rates, which changes dynamically as market prices vary. You have the flexibility to choose from a variety of our different cards and their different prices.
                            </p>

                            <p class="text" style="color: #fff !important;">
                                <strong>Please note: </strong> Our prices are not fixed to these rates, as they change based on market ranges.
                            </p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
            </div>
        </div> <!-- container -->
    </section>
    
    <!--====== PORTFOLIO PART ENDS ======-->
    
    <!--====== PORTFOLIO PART START ======-->
    
    <section id="portfolio" class="portfolio-area portfolio-four" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 justify-content-center animate__animated  animate__fadeIn delay-2m" style="align-self: center;">
                    <div class="align-items-center" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-duration="1000">
                        <div class="section-title text-center pb-10" style="vertical-align: middle;">
                            <h3 class="title">Fast & Reliable Altcoin Exchange</h3>
                            <p class="text">We work tirelessly to make your exchange into real cash, at the best rates possible. Your ease and comfort is all that we look out for. Just point us your wallet and we guarantee less than 10 mins transaction time, and you will be credited.</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="col-md-6 row mt-5" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
                    <div class="text-center">
                        <img src="assets/images/template-images/all-coin.png" class="img-responsive altcoin-img" alt="">
                    </div>
                </div> <!-- row -->
            </div>
        </div> <!-- container -->
    </section>
    
    <!--====== PORTFOLIO PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->
    
    <section id="about" class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="faq-content mt-45">
                        <div class="about-title">
                            <h4 class="title mt-3">Frequently Asked Questions <br> About Our Services</h4>
                        </div> <!-- faq title -->
                        <div class="about-accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">What is MyTrade?</a>
                                    </div>
    
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text">
                                                MyTrade is a simple designed exchange platform, that solely focuses on helping customer, buy or sell their digital assets, with utmost comfort.
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- card -->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">How Easy Is It To Trade?</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text">
                                                Our platform is built to be extremely usable and flexible. Easy enough for a noob without extra knowledge how to trade or buy. All you have to do is, simply login to your dashboard, go to the coins section and provide the needed information. Once you submit, our response is just a few seconds away.
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- card -->
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">Can I Buy Airtime & Data From My Wallet?</a>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text">
                                                Yes, With MyTrade, it's extremely easy, fast and reliable. All you have to do is login to your account, and top up your
                                                wallet if you need to. Then scroll down to the purchase airtime / data section, enter the value and submit.
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- card -->
                                <div class="card">
                                    <div class="card-header" id="headingFore">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore"
                                            aria-expanded="false" aria-controls="collapseFore">What Are Your Days & Hours Of Operation?</a>
                                    </div>
                                    <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text">All services on our platform are 100% operational, 24 / 7, all week and year. We are here to give you the best experience you can ever have. Your reliance on us, is our utmost objective.</p>
                                        </div>
                                    </div>
                                </div> <!-- card -->
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive">What Are Altcoins?</a>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text">
                                                Altcoins most important characteristic is that they are decentralized. No single institution controls the bitcoin network.
                                                It is maintained by a group of volunteer coders, and run by an open network of dedicated computers spread around the
                                                world. This attracts individuals and groups that are uncomfortable with the control that banks or government
                                                institutions have over their money.
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- card -->
                            </div>
                        </div> <!-- faq accordion -->
                    </div> <!-- faq content -->
                </div>
                <div class="col-lg-7" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000">
                    <div class="about-image mt-50">
                        <img src="assets/images/carousel/faq_new.png" alt="about">
                    </div> <!-- faq image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== TESTIMONIAL PART START ======-->
    
    <section id="testimonial" class="testimonial-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="testimonial-left-content mt-45">
                        <h6 class="sub-title">Testimonials</h6>
                        <h4 class="title">What Clients Say <br> About Us</h4>
                        <ul class="testimonial-line">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <p class="text">
                            We are very fortunate to have formed excellent partnerships with many of our clients. <br /> <br /> And we’ve formed more than just
                            working relationships with them; we have formed true friendships. Here’s what they’re saying about us.
                        </p>
                    </div> <!-- testimonial left content -->
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-right-content mt-50">
                        <div class="quota">
                            <i class="lni lni-quotation"></i>
                        </div>

                        <div class="testimonial-content-wrapper testimonial-active">
                            <div class="single-testimonial" *ngFor="let item of feedbacks">
                                <div class="testimonial-text">
                                    <p class="text">“{{item.message}}”</p>
                                </div>
                                <div class="testimonial-author d-sm-flex justify-content-between">
                                    <div class="author-info d-flex align-items-center">
                                        <div class="author-image">
                                            <img *ngIf="item.user.image" src={{item.user.image}} alt="author">
                                            <img *ngIf="!item.user.image" src='assets/img/svg/user-avatar.svg' alt="author">
                                        </div>
                                        <div class="author-name media-body">
                                            <h5 class="name">{{item.user.fullname}}</h5>
                                        </div>
                                    </div>
                                    <div class="author-review">
                                        <ul class="star">
                                            <li *ngFor="let star of item.rate">
                                                <i class="lni lni-star-filled"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> <!-- testimonial right content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TESTIMONIAL PART ENDS ======-->
</div>

<app-footer></app-footer>