<footer>
    <nav class="wrap">
        <div class="left" >
            <a routerLink="/faqs" routerLinkActive="active " style="color: white;">F.A.Q</a>
            <a routerLink="/terms" routerLinkActive="active" style="color: white;">Terms & Condition</a>
            <a routerLink="/privacy-policy" routerLinkActive="active" style="color: white;">Privacy Policy</a>
        </div>

        <div style="position: fixed; bottom:10px; left:20px; z-index: 99"> 
			<a href="tel:2347062946447" class="btn btn-primary" title="Call Us Now" style="height: 50px;">Call Us Now	 <i class="fa fa-phone"></i></a>
			<a href="https://api.whatsapp.com/send?phone=23407062946447&amp;text=I%20want%20to%20trade" style="height: 50px;" target="_blank" class="btn btn-success" title="Chat Us On WhatsApp">
			  <marquee behavior="alternate" style="width: 120px" scrollamount="4" onmouseover="this.stop()" onmouseout="this.start()">WhatsApp <i class="fa fa-whatsapp"></i></marquee>
			</a>
		</div>

        <div class="center">
            <div>
                <a href="https://facebook.com/mytrade_ng" target="_blank" style="text-decoration: none; margin-right: 10px;">
                    <img src="assets/img/png/facebook.png" width="32px" height="32px" alt="">
                </a>
                
                <a href="https://instagram.com/mytradenigeria" target="_blank" style="text-decoration: none; margin-right: 10px;">
                    <img src="assets/img/png/instagram.png" width="32px" height="32px" alt="">
                </a>
    
                <a href="https://twitter.com/mytrade_ng" target="_blank" style="text-decoration: none; margin-right: 10px;">
                    <img src="assets/img/png/twitter.png" width="32px" height="32px" alt="">
                </a>
    
                <a href="https://api.whatsapp.com/send?phone=+2348175052683" target="_blank" style="text-decoration: none; margin-right: 10px;">
                    <img src="assets/img/png/whatsapp.png" width="32px" height="32px" alt="">
                </a>
            </div>

            <div class="mt-3">
                <p class="phone-number mt-3" style="color: white;">
                    <i class="fa fa-phone mr-1" aria-hidden="true"></i>
                    +234 817 505 2683
                </p>
            </div>
        </div>

        <div class="right" >
            <p style="color: white;"> &copy; 2023 All rights reserved.</p>
        </div>
    </nav>
</footer>