<header class="animate__animted animate__fadeInDown animate__animated  animate__fadeInDown delay-1m">
    <nav class="wrap">
        <div class="left">
            <a class="logo" routerLink="/">
                <!-- <img src="assets/img/svg/logo-text.svg"> -->
            </a>
        </div>
        <div class="right">

            <a class="btn-link_" routerLink="/login" *ngIf="!isLoggedIn">
                <span>LOGIN</span>
            </a>

            <a class="btn btn-primary_" routerLink="/register" *ngIf="!isLoggedIn">
                <span>Register To Start Trading</span>
            </a>

            <a class="btn-link_" routerLink="/dashboard" *ngIf="isLoggedIn">
                <span>DASHBOARD</span>
            </a>

            <a class="btn btn-primary_" *ngIf="isLoggedIn" (click)="logout()">
                <span>Logout</span>
            </a>

        </div>
        <div class="menu-trigger">
            <a (click)="triggerMenu()">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </nav>
</header>

<div class="sidenav" [ngClass]="{'show': showMenu}">
    <div class="close_" (click)="triggerMenu()">
        <a>
            <i class="fas fa-times"></i>
        </a>
    </div>
    <div class="wrapper">
        <ul class="menu">
            
            <li [ngClass]="{'animate__animated animate__fadeInUp delay-5m': showMenu}" *ngIf="!isLoggedIn">
                <a class="btn btn-link_" routerLink="/login">
                    <span>LOGIN</span>
                </a>
            </li>

            <li [ngClass]="{'animate__animated animate__fadeInUp delay-6m': showMenu}" *ngIf="!isLoggedIn">
                <a class="btn btn-primary_" routerLink="/register">
                    <span>REGISTER</span>
                </a>
            </li>

            <li [ngClass]="{'animate__animated animate__fadeInUp delay-5m': showMenu}" *ngIf="isLoggedIn">
                <a class="btn btn-link_" routerLink="/dashboard">
                    <span>DASHBOARD</span>
                </a>
            </li>

            <li [ngClass]="{'animate__animated animate__fadeInUp delay-6m': showMenu}" *ngIf="isLoggedIn" (click)="logout()">
                <a class="btn btn-primary_">
                    <span>LOGOUT</span>
                </a>
            </li>
        </ul>
    </div>
</div>