@import 'src/scss/modules/_vars.scss';
@import 'src/scss/modules/_typography.scss';
header .wrap {
  width: 851px;
  margin: 0 auto;
  padding: 2em 6em 2em;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
    img {
      margin-right: 1em;
    }
  }
  &.hide {
    display: none;
  }
}
.main {
  section.otp {
    position: relative;
    .wrap {
      width: 851px;
      margin: 0 auto;
      padding: 6em 6em 4em;
      a.logo {
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        img {
          text-align: center;
          margin-bottom: 2em;
        }
      }

      h2 {
        font-weight: 600;
        font-size: 24px;
        @include bold-font;
        text-align: center;
      }
      .info_ {
        padding: 0em 6em;
        text-align: center;
        span {
          color: $yellow;
        }
      }
      form {
        margin-top: 3em;
        background: #fcfcfc;
        border-radius: 20px;
        padding: 4em 6em 3em;
        .input {
          input[type='number'] {
            letter-spacing: 0.4em;
            &.valid {
              color: #01b394;
              border: 1px solid $green;
            }
          }
          img {
            filter: grayscale(1);
          }
          .valid {
            img {
              filter: grayscale(0);
            }
          }
        }
        .action {
          flex-direction: column;
          margin-top: 3em;
          .btn-primary_ {
            margin-top: 1em;
          }
        }
      }
      p {
        margin-bottom: 0em;
        a {
          color: $yellow;
          cursor: pointer;
          position: relative;
          text-decoration: none;
          &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 1px;
            background: $yellow;
            left: 0;
            bottom: 0em;
            transition: 0.3s ease-in;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
      &.hide {
        display: none;
      }
    }
    .sucess {
      width: 670px;
      margin: 4em auto 0em;
      padding: 8em 3em 4em;
      background: #fcfcfc;
      border-radius: 20px;
      text-align: center;
      h2 {
        font-weight: 600;
        font-size: 24px;
        @include bold-font;
        text-align: center;
      }
      p {
        padding: 0em 6em;
        color: $black;
      }
      a {
        text-decoration: none;
        color: $yellow;
        cursor: pointer;
        font-size: 18px;
        margin-top: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon {
          margin-left: 1em;
        }
      }
      &.hide {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header .wrap {
    width: auto;
    padding: 2em 1em 2em;
  }
  .main section.otp {
    .wrap {
      width: auto;
      padding: 2em 1em 3em;
      .info_ {
        padding: 0em 1em;
      }
      form {
        padding: 4em 1em 2em;
        .d-flex {
          flex-direction: column;
          .input {
            margin-right: 0em;
          }
        }
      }
    }
    .sucess {
      width: auto;
      margin: 4em 1em 0em;
      padding: 8em 0em 4em;
      p {
        padding: 0em 1em;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .wrap {
    width: auto;
    padding: 4em 4em 2em;
  }
  .main section.otp .wrap {
    width: auto;
    padding: 4em 4em 3em;
    .info_ {
      padding: 0em 1em;
    }
    form {
      padding: 4em 4em 2em;
      .d-flex {
        flex-direction: column;
        .input {
          margin-right: 0em;
        }
      }
    }
  }
}
